<!DOCTYPE html>
<html>
    <head>
        <title>AddChef-SiwFood</title>
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css?version=3"/>
        <script th:inline="javascript" src="/javascript/script.js"></script>
        
    </head>

    <body>
        <header class="header_navbar">

            <a href="/"><img src="/images/logo.svg" class="header_logo" alt="Logo"/></a>

            <form th:action="@{/search}" method="get">
                <div class="header_search">
                    <span> <button type="submit" style="background-color: transparent; border: none;"> <img src="/images/search_image.svg" class="header_search_icon"/> </button> </span>
                    <input type="search" name="query" class="header_search_input" th:placeholder="#{header.search}">
                </div>
            </form>

            <a href="/loginPage" th:if="${accountRole == 'ROLE_ANONYMOUS' }">
                <div class="header_account">
                    <span class="header_account_icon"> <img src="/images/person_img.svg"/> </span>
                    <span class="header_account_text" th:text="#{header.account.login}">_Login_</span>
                </div>
            </a>

            <nav th:if="${accountRole != 'ROLE_ANONYMOUS' }">
                <ul class="header_account_menu">
                    <li>
                        <div class="header_account">
                        <span class="header_account_icon">
                            <img src="/images/person_img.svg" alt="User Icon"/>
                        </span>
                        <span class="header_account_text" th:text="${userDetails.username}">_username_</span>
                        </div>
                        <ul class="header_account_dropDownMenu">
                            <li>
                                <a th:href="@{'/logged/settingsPage/' + ${loggedId} + '/' + ${accountRole} }" th:text="#{settings}">_settings_</a>
                            </li>
                            <li>
                                <a th:href="@{'/logged/savedRecipesPage/' + ${loggedId} + '/' + ${accountRole} }" th:text="#{savedRecipes}">_savedRecipes_</a>
                            </li>
                            
                            <li th:if="${accountRole != 'CUSTOMER'}">
                                <a href="/chef_admin/allIngredientsPage" th:text="#{allIngredients}">_allIngredients_</a>
                            </li>
                            <li th:if="${accountRole == 'CHEF'}">
                                <a th:href="@{'/chef_admin/personalRecipesPage/' + ${loggedId}}" th:text="#{yourRecipes}">_yourRecipes_</a>
                            </li>
                            <li th:if="${accountRole == 'ADMINISTRATOR'}">
                                <a href="/all/allRecipesPage" th:text="#{allRecipes}">_allRecipes_</a>
                            </li>
                            <li th:if="${accountRole == 'ADMINISTRATOR'}">
                                <a href="/all/allChefsPage" th:text="#{allChefs}">_allChefs_</a>
                            </li>
                            
                            <li><hr class="dropdown-divider"></li>

                            <li>
                                <a href="/logout" id="logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="upload-container">
            <form th:action="@{/admin/creationData}" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label th:text="#{name}">_name_</label> 
                    <span><input class="inputCreation" type="text" name="name" th:placeholder="#{form.namePlaceholder}" /></span>
                    <span><input class="inputCreation" type="text" name="surname" th:placeholder="#{form.surnamePlaceholder}" /></span>
                </div>

                <div class="form-group">
                    <label th:text="#{dateOfBirth}">_dateOfBirth_</label>
                    <span><input class="inputCreation" type="date" name="dateOfBirth" /></span>
                </div>

                <div class="form-group">
                    <label th:text="#{email}">_Email_</label>
                    <input type="email" th:placeholder="#{email}" name="email"/>
                </div>

                <div>
                    <label th:text="#{insertUsername}">_Username</label>
                    <input type="text" th:placeholder="#{form.usernamePlaceholder}" th:field="${newCredentials.username}" required/>
                    <span th:if="${#fields.hasErrors('newCredentials.username')}" th:errors="${newCredentials.username}"></span>
                </div>
    
                <div>
                    <label th:text="#{insertPassword}">_insertPassword_</label>
                    <input type="password" th:placeholder="#{form.passwordPlaceholder}" th:field="${newCredentials.password}" required/>
                    <span th:if="${#fields.hasErrors('newCredentials.password')}" th:errors="${newCredentials.password}"></span>
                </div>

                <div id="chooseRoleCreation">
                    <label>Registra:</label>
                    <label th:text="#{customer}">_customer_</label> <input type="radio" name="role" value="CUSTOMER" checked onclick="updateCreationForm(this)"/>
                    <label th:text="#{chef}">_chef_</label> <input type="radio" name="role" value="CHEF" onclick="updateCreationForm(this)"/>
                    <label th:text="#{admin}">_admin_</label> <input type="radio" name="role" value="ADMINISTRATOR" onclick="updateCreationForm(this)"/>
                </div>
                
                <button type="submit" id="creationButton">Crea</button>

            </form>
            <p th:if="${failImage}">Errore immagine</p>
            <!--
            <h1>Aggiungi uno Chef</h1>
            <form th:action="@{/admin/addChefData}" method="POST" enctype="multipart/form-data">
                
                <div class="form-group">
                    <label th:text="#{name}">_name_</label> 
                    <span><input type="text" th:field="${newChef.name}" required/></span>
                    <span th:if="${#fields.hasErrors('newChef.name')}" th:errors="${newChef.name}"></span>
                </div>

                <div class="form-group">
                    <label th:text="#{surname}">_surname_</label>
                    <span><input type="text" th:field="${newChef.surname}" required/></span>
                    <span th:if="${#fields.hasErrors('newChef.surname')}" th:errors="${newChef.surname}"></span>
                </div>

                <div class="form-group">
                    <label th:text="#{dateOfBirth}">_dateOfBirth_</label>
                    <span><input type="date" th:field="${newChef.dateOfBirth}" required/></span>
                    <span th:if="${#fields.hasErrors('newChef.dateOfBirth')}" th:errors="${newChef.dateOfBirth}"></span>
                </div>

                <div class="form-group">
                    <label th:text="#{email}">_Email_</label>
                    <input type="email" th:placeholder="#{email}" th:field="${newChef.email}"/>
                    <span th:if="${#fields.hasErrors('newChef.email')}" th:errors="${newChef.email}"></span>
                </div>

                <div>
                    <label th:text="#{insertUsername}">_Username</label>
                    <input type="text" th:placeholder="#{form.usernamePlaceholder}" required th:field="${newCredentials.username}"/>
                    <span th:if="${#fields.hasErrors('newCredentials.username')}" th:errors="${newCredentials.username}"></span>
                </div>
    
                <div>
                    <label th:text="#{insertPassword}">_insertPassword_</label>
                    <input type="password" th:placeholder="#{form.passwordPlaceholder}" required th:field="${newCredentials.password}"/>
                    <span th:if="${#fields.hasErrors('newCredentials.password')}" th:errors="${newCredentials.password}"></span>
                </div>

                <div class="form-group">
                    <label for="image">Select Image:</label>
                    <input type="file" id="image" name="image" required>
                </div>
                
                <div>
                    <span><button type="submit">Conferma</button></span>
                </div>
            </form>
            <p th:if="${failImage}">Errore immagine</p>
            -->
        </div>
    </body>
</html>