<!DOCTYPE html>
<html>
    <head>
        <title>EditChef-SiwFood</title>
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css?version=3"/>
        <script th:inline="javascript" src="/javascript/script.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

    <body class="backgroundColorSite">
        <header class="header_navbar">

            <a href="/"><img src="/images/logo.svg" class="header_logo" alt="Logo"/></a>

            <form th:action="@{/search}" method="get">
                <div class="header_search">
                    <span> <button type="submit" style="background-color: transparent; border: none;"> <img src="/images/search_image.svg" class="header_search_icon"/> </button> </span>
                    <input type="search" name="query" class="header_search_input" th:placeholder="#{header.search}">
                </div>
            </form>

            <a href="/loginPage" th:if="${accountRole == 'ROLE_ANONYMOUS' }">
                <div class="header_account">
                    <span class="header_account_icon"> <img src="/images/person_img.svg"/> </span>
                    <span class="header_account_text" th:text="#{header.account.login}">_Login_</span>
                </div>
            </a>

            <nav th:if="${accountRole != 'ROLE_ANONYMOUS' }">
                <ul class="header_account_menu">
                    <li>
                        <div class="header_account">
                        <span class="header_account_icon">
                            <img src="/images/person_img.svg" alt="User Icon"/>
                        </span>
                        <span class="header_account_text" th:text="${userDetails.username}">_username_</span>
                        </div>
                        <ul class="header_account_dropDownMenu">
                            <li>
                                <a th:href="@{'/logged/settingsPage/' + ${loggedId} + '/' + ${accountRole} }" th:text="#{settings}">_settings_</a>
                            </li>
                            <li>
                                <a th:href="@{'/logged/savedRecipesPage/' + ${loggedId} + '/' + ${accountRole} }" th:text="#{savedRecipes}">_savedRecipes_</a>
                            </li>
                            
                            <li th:if="${accountRole != 'CUSTOMER'}">
                                <a href="/chef_admin/allIngredientsPage" th:text="#{allIngredients}">_allIngredients_</a>
                            </li>
                            <li th:if="${accountRole == 'CHEF'}">
                                <a th:href="@{'/chef_admin/personalRecipesPage/' + ${loggedId}}" th:text="#{yourRecipes}">_yourRecipes_</a>
                            </li>
                            <li th:if="${accountRole == 'ADMINISTRATOR'}">
                                <a href="/all/allRecipesPage" th:text="#{allRecipes}">_allRecipes_</a>
                            </li>
                            <li th:if="${accountRole == 'ADMINISTRATOR'}">
                                <a href="/all/allChefsPage" th:text="#{allChefs}">_allChefs_</a>
                            </li>
                            
                            <li><hr class="dropdown-divider"></li>

                            <li>
                                <a href="/logout" id="logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <!--<div class="upload-container">
            <h1>Modifica uno Chef</h1>

            <form th:action="@{'/admin/editChefData/' + ${chef.id}}" method="POST" th:object="${chef}" >--> <!--enctype="multipart/form-data" precedente-->
                
                <!--<div id="imageSpace">
                    <img th:src=" 'data:image/;base64,' + ${chef.imageBase64}" alt="Chef Image"/>
                    <input type="hidden" name="removeImage" value="false"/>
                    <button type="button" onclick="removeImageFromChef(this.parentElement)">Remove</button>
                </div>

                <div class="form-group">
                    <label th:text="#{name}">_name_</label> 
                    <span><input type="text" th:field="${chef.name}" required/></span>-->
                    <!--<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span> commento precedente-->
                <!--</div>

                <div class="form-group">
                    <label th:text="#{surname}">_surname_</label>
                    <span><input type="text" th:field="${chef.surname}" required/></span>-->
                    <!--<span th:if="${#fields.hasErrors('chef.surname')}" th:errors="${chef.surname}"></span> commento precedente-->
                <!--</div>

                <div class="form-group">
                    <label th:text="#{dateOfBirth}">_dateOfBirth_</label>
                    <span><input type="date" name="dateOfBirth" id="dateOfBirth" th:value="${chef.dateOfBirth}" required/></span>--> <!-- th:value="${chef.dateOfBirth}" th:value="${#temporals.format(chef.dateOfBirth, 'yyyy-MM-dd')}"  th:value="${#dates.format(chef.dateOfBirth, 'yyyy-MM-dd')}" commento precedente-->
                    <!--<span th:if="${#fields.hasErrors('chef.dateOfBirth')}" th:errors="${chef.dateOfBirth}"></span> commento precedente-->
                <!--</div>

                <b th:text="${chef.dateOfBirth}"></b>

                <div class="form-group">
                    <label th:text="#{email}">_Email_</label>
                    <input type="text" th:placeholder="#{email}" th:field="${chef.email}"/>-->
                    <!--<span th:if="${#fields.hasErrors('chef.email')}" th:errors="${chef.email}"></span> commento precedente-->
                <!--</div>

                <div>
                    <span><button type="submit">Conferma</button></span>
                </div>
            </form>
        </div>
        -->



        <div class="container mt-5">
            <!--<div class="card">-->
                <!--<div class="card-header text-center">-->
                    <h1 class="h3 mb-3 font-weight-normal text-center text-white" th:text="#{editChef}">_editChef_</h1>
                <!--</div>-->
                <div class="card-body">
                    <form th:action="@{'/admin/editChefData/' + ${chef.id}}" method="POST" th:object="${chef}" enctype="multipart/form-data">
                        <div class="text-center mb-4">
                            <img th:src="'data:image/;base64,' + ${chef.imageBase64}" alt="Chef Image" class="img-thumbnail" style="width: 100px; height: 100px; object-fit: cover;"/>
                            <input type="hidden" name="removeImage" value="false"/>
                            <div><!--class="btn-group btn-block mt-2"-->
                                <button type="button" class="btn btn-danger mt-2" onclick="removeImageFromChef(this.parentElement.parentElement)">Remove</button>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label th:text="#{name}">_name_</label>
                                <input type="text" th:field="${chef.name}" class="form-control" required/>
                            </div>
                            <div class="form-group col-md-6">
                                <label th:text="#{surname}">_surname_</label>
                                <input type="text" th:field="${chef.surname}" class="form-control" required/>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label th:text="#{dateOfBirth}">_dateOfBirth_</label>
                                <input type="date" th:field="${chef.dateOfBirth}" class="form-control" required/>
                            </div>
                            <div class="form-group col-md-6">
                                <label th:text="#{email}">_Email_</label>
                                <input type="text" th:field="${chef.email}" class="form-control"/>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary custom-btn">Conferma</button>
                        </div>
                    </form>
                </div>
            <!--</div>-->
        </div>


    </body>
</html>