<!Doctype html>
<html>
    <head>
        <title>SiwFood</title>
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css?version=3"/> <!-- href="../static/css/style.css"/> href="/css/style.css?version=3"/> type="text/css" href="/Users/piergiorgiofornaro/Programmazione/SIW/siw-food/src/main/resources/static/css/style.css?version=3"/>-->
    </head>

    <body>
        <header class="header">
            <div class="header_navbar">
                <!--<div class="header-logo-extrude"><h3>SiwFood</h3>-->
                <!--<a class="header-logo-extrude" href="/"><h1>SiwFood</h1></a>-->
                    <!--<a class="header-logo" href="/"><h3>SiwFood</h3></a>-->
                <!--</div>-->
                <!--<a class="header_logo" href="/"><img src="../static/images/Opera_senza_titolo.png" width="20%"/></a>-->
                <a href="/" class="header_logo"> <img src="/images/Opera_senza_titolo.svg"/></a> <!--<img src="../static/images/Opera_senza_titolo.svg"/></a> width="40%"/></a>-->
                <!--<img src="../static/images/Opera_senza_titolo.png" width="20%" class="header_logo"/>-->
                <form>
                    <div class="header_search">
                        <span class="header_search_icon"> <img src="/images/search_image.svg"/> </span> <!--<img src="../static/images/search_image.svg"/></span>-->
                        <!--<span class="header_search_icon"> <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg> </span>-->
                        <input type="search" name="" id="" class="header_search_input" th:placeholder="#{header.search}">
                    </div>
                </form>
                <div class="header_account">
                    <span class="header_account_icon"> <img src="/images/person_img.svg"/> </span>
                    <h4 class="header_account_text">Login</h4>
                </div>
            </div>
        </header>
        <!--
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <a href="/" class="prova"><img src="../static/images/Opera_senza_titolo.svg" width="40%"/></a>
        <div class="header-logo-extrude"><h1>S</h1>
            <a class="header-logo-prova" href="/"><h1>S</h1></a>
        </div>-->
    </body>    
</html>


<!--<body>
        <header id="sf-header" class="sf-header">
            <div class="sf-header-container">
                <h1 class="sf-header-logo"><a href="/"><img src="/target/classes/static/images/magnifying-glass-solid.svg" width="30%"></a></h1>
                <div class="sf-header-search-container">
                    <form class="sf-header-search-form">
                        <input type="text" class="sf-header-search-input" autocomplete="off" name="search" id="sf-header-search-input" placeholder="Cerca una ricetta">
                        <button type="submit" value="" class="sf-header-search" name="submit" id="sf-header-search-submit">
                            <span class="sf-icon sf-btn-icon">
                                <svg viewBox="0 0 50 50">
                                    <use xlink:href="/static/images/magnifying-glass-solid.svg"></use>
                                </svg>
                            </span>
                        </button>
                        <div class="sf-tendina"><ul></ul></div>
                    </form>
                    <div class="sf-header-search-close gz-btn-link" id="gz-header-search-close">
                        <span class="gz-icon gz-btn-icon">
                            <svg viewBox="0 0 50 50">
                                <use xlink:href="/style/images/icons.svg?cb=4b2e2012b205fba4cf398709f21db0791f1bdf8c#icon-lens"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </header>
    </body>-->