<!Doctype html>
<html>
    <head>
        <title>SiwFood</title>
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css?version=3"/>
    </head>

    <body>

        <header class="header_navbar">

            <a href="/"><img src="/images/logo.svg" class="header_logo" alt="Logo"/></a>

            <form>
                <div class="header_search">
                    <span> <img src="/images/search_image.svg" class="header_search_icon"/> </span>
                    <input type="search" class="header_search_input" th:placeholder="#{header.search}">
                </div>
            </form>

            <!--<a href="/loginPage" th:if="${userRole==ANONYMOUS}">-->
            <a href="/loginPage" th:unless="${accountRole}">
                <div class="header_account">
                    <span class="header_account_icon"> <img src="/images/person_img.svg"/> </span>
                    <span class="header_account_text" th:text="#{header.account.login}">_Login_</span>
                </div>
            </a>

            <!--<nav th:if="${userRole}">-->
            <nav th:if="${accountRole}">
                <ul class="header_account_menu">
                    <li>
                        <div class="header_account">
                        <span class="header_account_icon">
                            <img src="/images/person_img.svg" alt="User Icon"/>
                        </span>
                        <span class="header_account_text" th:text="${userDetails.username}">_username_</span>
                        </div>
                        <ul class="header_account_dropDownMenu">
                            <li>
                                <a href="/savedRecipesPage" th:text="#{savedRecipes}">_savedRecipes_</a>
                            </li>
                            <li th:if="${accountRole != 'CUSTOMER'}">
                                <a href="/chef_admin/allIngredientsPage" th:text="#{allIngredients}">_allIngredients_</a>
                            </li>
                            <li th:if="${accountRole == 'CHEF'}">
                                <a th:href="@{'/chef_admin/personalRecipesPage/' + ${loggedId}}" th:text="#{yourRecipes}">_yourRecipes_</a>
                            </li>
                            <li th:if="${accountRole == 'ADMIN'}">
                                <a href="/admin/allRecipesPage" th:text="#{allRecipes}">_allRecipes_</a>
                            </li>
                            <li th:if="${accountRole == 'ADMIN'}">
                                <a href="/admin/allChefsPage" th:text="#{allChefs}">_allChefs_</a>
                            </li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <div>prova</div>
        <div><a href="/prova">aaaaaa</a></div>
        <div><a href="/chef_admin/addRecipePage">addRecipe</a></div>
        <a href="/registrationPageGPT">regGPT</a>
    
    </body>
</html>