<!DOCTYPE html>
<html>
    <head>
        <title>Login-SiwFood</title>
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css?version=3"/>
    </head>

    <body>
        <header class="header_navbar">
            <a href="/"><img src="/images/logo.svg" class="header_logo" alt="Logo"/></a>
        </header>

        <div class="registrationText" th:if="${RegistrationCompleted}">Complimenti, ti sei registrato</div>
        <div th:text="${RegistrationCompleted}"></div>

        <div class="container_accountBox">
            <div class="row justify-content-center mt-5">
                <div class="col-md-4">
                    <div class="accountBox">
                        <div class="accountBox_header">
                            <h3 class="text-center" th:text="#{header.account.login}">_Login_</h3>
                        </div>
                        <div class="accountBox_body">
                            <form th:action="@{/loginPage}" method="POST">
                                
                                <div class="accountBox_data">
                                    <label for="username">Username:</label>
                                    <input type="text" id="username" name="username" class="form-control" required/>
                                </div>

                                <div class="accountBox_data">
                                    <label for="password">Password:</label>
                                    <input type="password" id="password" name="password" class="form-control" required/>
                                </div>
                                
                                <button type="submit" class="accountBox_button" th:text="#{header.account.login}">_Login_</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div><span th:if="${param.error != null}">Username o password errati</span></div>
        <div> <a href="/registrationPage">registrationPage</a></div>

    </body>
</html>