<!DOCTYPE html>
<html>
    <head>
        <title>FOTO-SiwFood</title>
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css?version=3"/>
    </head>
<body>
    <div class="mt-5">
        <h1 class="text-center">View Images</h1>
        <div class="container">
            <table class="table border" >
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Image</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="list : ${imageList}">
                    <td th:text="${list.id}"></td>
                    <td><img height="250px"  th:src="@{${'/display?id=' + list.id}}" alt=""></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>