<!DOCTYPE html>
<html>
    <head>
        <title th:text="${recipe.name}">Recipe-SiwFood</title>
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css?version=3"/>
    </head>

    <body>

        <header class="header_navbar">

            <a href="/"><img src="/images/logo.svg" class="header_logo" alt="Logo"/></a>

            <form>
                <div class="header_search">
                    <span> <img src="/images/search_image.svg" class="header_search_icon"/> </span>
                    <input type="search" class="header_search_input" th:placeholder="#{header.search}">
                </div>
            </form>

            <a href="/loginPage" th:if="${userRole==ANONYMOUS}">
                <div class="header_account">
                    <span class="header_account_icon"> <img src="/images/person_img.svg"/> </span>
                    <span class="header_account_text" th:text="#{header.account.login}">_Login_</span>
                </div>
            </a>

            <nav th:if="${userRole!=ANONYMOUS}">
                <ul class="header_account_menu">
                    <li>
                        <div class="header_account">
                        <span class="header_account_icon">
                            <img src="/images/person_img.svg" alt="User Icon"/>
                        </span>
                        <span class="header_account_text" th:text="${userDetails.username}">_username_</span>
                        </div>
                        <ul class="header_account_dropDownMenu">
                            <li>
                                <a href="/savedRecipesPage" th:text="#{savedRecipes}">_savedRecipes_</a>
                            </li>
                            <li th:if="${userRole != 'CUSTOMER'}">
                                <a href="/addRecipeForm" th:text="#{addRecipe}">_addRecipe_</a>
                            </li>
                            <li th:if="${userRole != 'CUSTOMER'}">
                                <a href="/addIngredientForm" th:text="#{addIngredient}">_addIngredient_</a>
                            </li>
                            <li th:if="${userRole == 'CHEF'}">
                                <a th:href="@{'/chef_admin/personalRecipesPage/' + ${loggedId}}" th:text="#{yourRecipes}">_yourRecipes_</a>
                            </li>
                            <li th:if="${userRole == 'ADMIN'}">
                                <a href="/admin/allRecipesPage" th:text="#{allRecipes}">_allRecipes_</a>
                            </li>
                            <li th:if="${userRole == 'ADMIN'}">
                                <a href="/admin/allChefsPage" th:text="#{allChefs}">_allChefs_</a>
                            </li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="recipeInformations" th:if="${recipe}"> <!--th:if="${chef}">  che volevo fare?--> 
            <!--<h1 th:text="${recipe.details}"></h1> come sopra. che avevo copiato dalla pagina dello chef?-->
            <div>
                <h1 th:text="${recipe.name}">_recipeName_</h1>
                <h3 th:text="${recipe.chef.name}">_recipeChef_</h3>

                <ul>
                    <li th:each="ri : ${recipeIngredients}">
                        <span th:text="${ri.ingredient.name}">Ingredient</span>: 
                        <span th:text="${ri.quantity.amount}">Quantity</span> 
                        <span th:text="${ri.unit.name}">Unit</span>
                    </li>
                </ul>

                <span th:text="${recipe.description}">_recipeDescription_</span>
                <!--<span><img width="5%" th:src=${movie.urlImage} /></span>-->
            </div>
            <div th:unless="${recipe}" th:text="#{dosent.exist}">_dosentExist_</div>
        </div>
    </body>
</html>