<!DOCTYPE html>
<html>
    <head>
        <title>Recipe-SiwFood</title>
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css?version=3"/> <!--href="/css/style.css?version=3"/> type="text/css" href="/Users/piergiorgiofornaro/Programmazione/SIW/siw-food/src/main/resources/static/css/style.css?version=3"/>-->
    </head>

    <body>
        <header class="main_header">
            <div class="main_navbar">
                <a class="header-logo-extrude" href="/">SiwFood</a>
                <a class="header-logo" href="/">SiwFood</a>
            </div>
        </header>
        <h3 th:text="${recipe.name}">_name_</h3>
    </body>
</html>