<!DOCTYPE html>
<html>
    <head>
        <title>Login-SiwFood</title>
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css?version=3"/>
        <script th:inline="javascript" src="/javascript/script.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>-->
        
        <!--
        <script>
            $(document).ready(function(){
                $('#inputDateOfBirth').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    todayHighlight: true
                });
            });
        </script>
        -->
        
    </head>

    <body class="login-background">

        <header class="header_navbar" style="background: transparent;">
            <a href="/"><img src="/images/logo.svg" class="header_logo" alt="Logo"/></a>
        </header>

        <!--
        <h1 th:text="#{registration.title}">_registrationTitle_</h1>
        <form th:action="@{/registrationData}" method="POST" >
            <div>
                <label th:text="#{registration.insertName}">_yourName_</label>
                <input class="inputRegistration" type="text" name="name" th:placeholder="#{form.namePlaceholder}"/>
                <input class="inputRegistration" type="text" name="surname" th:placeholder="#{form.surnamePlaceholder}"/>
            </div>

            <div>
                <label th:text="#{registration.insertEmail}">_insertEmail_</label>
                <input type="email" name="email" th:placeholder="#{form.emailPlaceholder}"/>
            </div>

            <div>
                <label th:text="#{registration.insertDateOfBirth}">_insertDateOfBitrh_</label>
                <input class="inputRegistration" type="date" name="dateOfBirth" th:placeholder="#{form.dateOfBirthPlaceholder}"/>
            </div>

            <div>
                <label th:text="#{registration.insertUsername}">_yourUsername</label>
                <input type="text" th:placeholder="#{form.usernamePlaceholder}" th:field="${credentials.username}" required/>
                <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" th:style="'color:red'"></span>
            </div>

            <div>
                <label th:text="#{registration.insertPassword}">_insertPassword_</label>
                <input type="password" th:placeholder="#{form.passwordPlaceholder}" th:field="${credentials.password}" required/>
                <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" th:style="'color:red'"></span>
            </div>

            <div id="chooseRoleRegistration">
                <label>Registrati come:</label>
                <label th:text="#{customer}">_customer_</label> <input type="radio" name="role" value="CUSTOMER" checked onclick="updateRegistrationForm(this)"/>
                <label th:text="#{chef}">_chef_</label> <input type="radio" name="role" value="CHEF" onclick="updateRegistrationForm(this)"/>
            </div>
            
            <button type="submit" id="registrationButton" th:text="#{registration.buttonRegistration}">_Registration_</button>
        </form>
        -->

        <div class="loginRegistrationDiv">
            <form class="form-signup" th:action="@{/registrationData}" method="post">

                <h1 class="h3 mb-3 font-weight-normal text-center text-white" th:text="#{registration.title}">_RegistrationTitle_</h1>

                <div>
                    <label class="sr-only" th:text="#{registration.insertName}">Name</label>
                    <input type="text" name="name" class="form-control mb-3 inputRegistration" th:placeholder="#{form.namePlaceholder}"/>
                </div>
                    
                <div>
                    <label class="sr-only">Surname</label>
                    <input type="text" name="surname" class="form-control mb-3 inputRegistration" th:placeholder="#{form.surnamePlaceholder}"/>
                </div>

                <div>
                    <label class="sr-only" th:text="#{registration.insertEmail}">_EmailAddress_</label>
                    <input type="email" name="email" class="form-control mb-3" th:placeholder="#{form.emailPlaceholder}"/>
                </div>

                <div>
                    <label th:text="#{dateOfBirth} + ':' " style="color: white;">_dateOfBitrh_</label>
                    <input type="date" name="dateOfBirth" class="form-control mb-3 inputRegistration" th:placeholder="#{form.dateOfBirthPlaceholder}"/>
                </div>

                <div>
                    <label class="sr-only" th:text="#{registration.insertUsername}">_yourUsername</label>
                    <input type="text" th:field="${credentials.username}" class="form-control mb-3" th:placeholder="#{form.usernamePlaceholder}" required autofocus/>
                    <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" th:style="'color:red'"></span>
                </div>

                <div>
                    <label class="sr-only" th:text="#{registration.insertPassword}">_insertPassword_</label>
                    <input type="password" th:field="${credentials.password}" class="form-control mb-3" th:placeholder="#{form.passwordPlaceholder}" required/>
                    <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" th:style="'color:red'"></span>
                </div>
                
                <!--
                <div id="chooseRoleRegistration">
                    <label>Registrati come:</label>
                    <label th:text="#{customer}">_customer_</label> <input type="radio" name="role" value="CUSTOMER" checked onclick="updateRegistrationForm(this)"/>
                    <label th:text="#{chef}">_chef_</label> <input type="radio" name="role" value="CHEF" onclick="updateRegistrationForm(this)"/>
                </div>
                -->

                <!--
                <div class="mb-3">
                    <label for="inputProfilePicture" class="text-white">Profile Picture</label>
                    <input type="file" id="inputProfilePicture" class="form-control-file" name="profilePicture">
                </div>
                -->
                

                
                <div class="mb-3" id="chooseRoleRegistration">
                    <label class="d-block text-white">Registrati come:</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customerRole" name="role" value="CUSTOMER" class="custom-control-input" checked onclick="updateRegistrationForm(this)">
                        <label class="custom-control-label text-white" for="customerRole">Customer</label>
                        <!--<span class="custom-control-label text-white" for="customerRole">Customer</span>-->
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="chefRole" name="role" value="CHEF" class="custom-control-input" onclick="updateRegistrationForm(this)">
                        <label class="custom-control-label text-white" for="chefRole">Chef</label>
                        <!--<span class="custom-control-label text-white" for="chefRole">Chef</span>-->
                        <!--<b class="custom-control-label text-white" for="chefRole">Chef</b>-->
                    </div>
                </div>
                
                
                <button type="submit" id="registrationButton" class="btn btn-lg btn-primary btn-block custom-btn" th:text="#{registration.buttonRegistration}">_Register_</button>

                <p class="mt-2 text-center" id="loginLink">
                    <spna th:text="#{register.login}" class="text-white"></spna>
                    <a href="/loginPage" class="custom-link" th:text="#{header.account.login}">_Login_</a>
                </p>

            </form>
        </div>

        <link rel="preload" href="/images/background/pizza.jpeg" as="image">
    </body>
</html>