<!DOCTYPE html>
<html>
    <head>
        <title>editRecipe-SiwFood</title>
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css?version=3"/>
        <script th:inline="javascript" src="/javascript/script.js"></script>

        <div class="referenceForJSClone">
            <div id="ingredientsContainerReference">
                <div id="ingredientsReference">
                    
                    <span>
                        <label name="ingredientName" th:text="#{ingredientName} + ':'">_ingredientName_</label>
                        <select name="ingredientsName" id="ingredientSelect" onchange="addNewIngredient(this)">
                            <option selected disabled>Seleziona un ingrediente</option>
                            <option th:each="ingredient : ${ingredients}" th:value="${ingredient.name}" th:text="${ingredient.name}"></option>
                            <option value="add" id="addIngredientOption">_AggiungiIngredient_</option>
                        </select>
                    </span>

                    <label>Quantity:</label>
                    <input type="number" name="quantities" required/>

                    <span>
                        <label>Unit:</label>
                        <select name="unitsName" id="unitSelect" onchange="addNewUnit(this)">
                            <option selected disabled>Seleziona un'unità</option>
                            <option th:each="unit : ${units}" th:value="${unit.name}" th:text="${unit.name}"></option>
                            <option value="add" id="addUnitOption">_AggiungiUnit_</option>
                        </select>
                    </span>

                    <button type="button" onclick="removeIngredientField(this)">Remove</button>
                </div>
            </div>
        </div>

    </head>
    
    <body>

        <header class="header_navbar">

            <a href="/"><img src="/images/logo.svg" class="header_logo" alt="Logo"/></a>

            <form>
                <div class="header_search">
                    <span> <img src="/images/search_image.svg" class="header_search_icon"/> </span>
                    <input type="search" class="header_search_input" th:placeholder="#{header.search}">
                </div>
            </form>

            <a href="/loginPage" th:if="${userRole==ANONYMOUS}">
                <div class="header_account">
                    <span class="header_account_icon"> <img src="/images/person_img.svg"/> </span>
                    <span class="header_account_text" th:text="#{header.account.login}">_Login_</span>
                </div>
            </a>

            <nav th:if="${userRole!=ANONYMOUS}">
                <ul class="header_account_menu">
                    <li>
                        <div class="header_account">
                        <span class="header_account_icon">
                            <img src="/images/person_img.svg" alt="User Icon"/>
                        </span>
                        <span class="header_account_text" th:text="${userDetails.username}">_username_</span>
                        </div>
                        <ul class="header_account_dropDownMenu">
                            <li>
                                <a href="/savedRecipesPage" th:text="#{savedRecipes}">_savedRecipes_</a>
                            </li>
                            <li th:if="${userRole != 'CUSTOMER'}">
                                <a href="/chef_admin/allIngredientsPage" th:text="#{allIngredients}">_allIngredients_</a>
                            </li>
                            <li th:if="${userRole == 'CHEF'}">
                                <a th:href="@{'/chef_admin/personalRecipesPage/' + ${loggedId}}" th:text="#{yourRecipes}">_yourRecipes_</a>
                            </li>
                            <li th:if="${userRole == 'ADMIN'}">
                                <a href="/admin/allRecipesPage" th:text="#{allRecipes}">_allRecipes_</a>
                            </li>
                            <li th:if="${userRole == 'ADMIN'}">
                                <a href="/admin/allChefsPage" th:text="#{allChefs}">_allChefs_</a>
                            </li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <h1>Edit Recipe</h1>
        <form th:action="@{'/chef_admin/recipeEditData/' + ${recipe.id}}" th:object="${recipe}" method="POST" id="formEditRecipe" enctype="multipart/form-data">
            <div>
                <label for="name" th:text="#{recipeName}">_recipeName_</label>
                <input type="text" id="name" name="name" th:field="${recipe.name}"/>
            </div>

            
            <div>
                <h3>Immagini correnti:</h3>
                <div>
                    <div th:each="base64, iterStat : ${recipe.imagesBase64}">
                        <div>
                            <img th:src=" 'data:image/;base64,' + ${base64}" alt="Recipe Image"/>
                            <!--<div>-->
                                <button type="button" th:onclick=" 'removeImageFromRecipe(this, ' + ${iterStat.index} + ')' ">Remove</button>
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="image">Select Image:</label>
                <input type="file" id="images" name="newImages" multiple>
            </div>
            

            <div th:switch="${userRole}">
                <label for="chef" th:text="#{chef} + ':' ">_chef_</label>
                <select th:case="'CHEF'" th:field="${recipe.chef}" disabled class="disabledChefChoise">
                    <option th:value="${recipe.chef.id}" th:text="${recipe.chef.name} + ' ' + ${recipe.chef.surname}" selected>_ChefName&Surname_</option>
                    <input type="hidden" th:field="${recipe.chef}" th:value="${recipe.chef.id}" />
                </select>

                <select th:case="'ADMIN'" th:field="${recipe.chef}">
                    <option th:value="${recipe.chef.id}" th:text="${recipe.chef.name} + ' ' + ${recipe.chef.surname}" selected>_OldChefName&Surname_</option>
                    <option th:each="c : ${chefs}" th:unless="${recipe.chef.id} == ${c.id}" th:value="${c.id}" th:text="${c.name} + ' ' + ${c.surname}">_ChefName&Surname_</option>
                </select>
            </div>

            <div>
                <label for="courseRecipe" th:text="#{course} + ':' ">_course_</label>
                <select th:field="${recipe.course}" required>
                    <option th:value="${recipe.course}" th:text="${recipe.course}" selected>_OldCourse_</option>
                    <option th:each="c : ${courses}" th:unless="${recipe.course} == ${c}" th:value="${c}" th:text="${c}"></option>
                </select>
            </div>

            <label >Ingredients:</label>
            <div id="ingredientsContainer">

                <div id="ingredients" th:each="ri : ${recipeIngredients}">

                    <span>
                        <label name="ingredientName" th:text="#{ingredientName} + ':'">_ingredientName_</label>
                        <select name="ingredientsName" id="ingredientSelect" onchange="addNewIngredient(this)">
                            <option th:value="${ri.ingredient.name}" th:text="${ri.ingredient.name}" selected></option>
                            <option th:each="ingredient : ${ingredients}" th:unless="${ri.ingredient.id} == ${ingredient.id}" th:value="${ingredient.name}" th:text="${ingredient.name}"></option> <!--th:unless="${#strings.equals('${ri.ingredient.name}', '${ingredient.name}')}"-->
                            <option value="add" id="addIngredientOption">_AggiungiIngredient_</option>
                        </select>
                    </span>

                    <label>Quantity:</label>
                    <input type="number" name="quantities" th:value="${ri.quantity.amount}" required/>

                    <span>
                        <label>Unit:</label>
                        <select name="unitsName" id="unitSelect" onchange="addNewUnit(this)">
                            <option th:value="${ri.unit.name}" th:text="${ri.unit.name}" selected></option>
                            <option th:each="unit : ${units}" th:unless="${ri.unit.id} == ${unit.id}" th:value="${unit.name}" th:text="${unit.name}"></option>
                            <option value="add" id="addUnitOption">_AggiungiUnit_</option>
                        </select>
                    </span>

                    <button type="button" onclick="removeIngredientField(this)">Remove</button>

                </div>
            </div>
            <button type="button" onclick="addIngredientField()">Add Ingredient</button>
            <br/><br/>

            <div>
                <label for="description" th:text="#{recipeDescription} + ':' ">_recipeDescription_</label>
                <textarea id="description" name="description" th:field="${recipe.description}"></textarea>
            </div>

            <input type="submit" value="Edit Recipe" />
        </form>
    </body>
</html>