<!Doctype html>
<html>
    <head>
        <title>SiwFood</title>
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css?version=3"/>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body class="backgroundColorSite">
        <header class="header_navbar">

            <a href="/"><img src="/images/logo.svg" class="header_logo" alt="Logo"/></a>

            <form th:action="@{/search}" method="get">
                <div class="header_search">
                    <span> <button type="submit" style="background-color: transparent; border: none;"> <img src="/images/search_image.svg" class="header_search_icon"/> </button> </span>
                    <input type="search" name="query" class="header_search_input" th:placeholder="#{header.search}">
                </div>
            </form>

            <a href="/loginPage" th:if="${accountRole == 'ROLE_ANONYMOUS' }">
                <div class="header_account">
                    <span class="header_account_icon"> <img src="/images/person_img.svg"/> </span>
                    <span class="header_account_text" th:text="#{header.account.login}">_Login_</span>
                </div>
            </a>

            <nav th:if="${accountRole != 'ROLE_ANONYMOUS' }">
                <ul class="header_account_menu">
                    <li>
                        <div class="header_account">
                        <span class="header_account_icon">
                            <img src="/images/person_img.svg" alt="User Icon"/>
                        </span>
                        <span class="header_account_text" th:text="${userDetails.username}">_username_</span>
                        </div>
                        <ul class="header_account_dropDownMenu">
                            <li>
                                <a th:href="@{'/logged/settingsPage/' + ${loggedId} + '/' + ${accountRole}}" th:text="#{settings}">_settings_</a>
                            </li>
                            <li>
                                <a th:href="@{'/logged/savedRecipesPage/' + ${loggedId} + '/' + ${accountRole} }" th:text="#{savedRecipes}">_savedRecipes_</a>
                            </li>
                            
                            <li th:if="${accountRole != 'CUSTOMER'}">
                                <a href="/chef_admin/allIngredientsPage" th:text="#{allIngredients}">_allIngredients_</a>
                            </li>
                            <li th:if="${accountRole == 'ADMINISTRATOR'}">
                                <a href="/all/allRecipesPage" th:text="#{allRecipes}">_allRecipes_</a>
                            </li>
                            <li th:if="${accountRole == 'ADMINISTRATOR'}">
                                <a href="/all/allChefsPage" th:text="#{allChefs}">_allChefs_</a>
                            </li>
                            
                            <li><hr class="dropdown-divider"></li>

                            <li>
                                <a href="/logout" id="logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="container mt-5">
            <h1 class="h3 mb-3 font-weight-normal text-center text-white" th:text=" 'Ricette di ' + ${chef.name} + ' ' + ${chef.surname} ">_chefName_</h1>
            <div class="courses-section">
                <div class="container">
                    <div class="row text-center">
                        <div th:if="${recipes==null || recipes.isEmpty()}" class="text-white">
                            <span th:text="#{personalRecipe.none} + ':' ">_personalRecipe.none_</span>
                            <a href="/chef_admin/addRecipePage" th:text="#{personalRecipe.createRecipe}" style="color: rgb(223,205,54);">_personalRecipe.createRecipe_</a>
                        </div>
                        <!--<div class="pagesRecipe-card">-->
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-4" th:each="recipe : ${recipes}">
                                <a th:href="@{'/all/recipePage/' + ${recipe.id} }"><img th:src=" 'data:image/;base64,' + ${recipe.imagesBase64[0]} " class="img-fluid course-icon mx-auto"/></a>
                                <a th:href="@{'/all/recipePage/' + ${recipe.id} }" class="btn course-btn btn-block mt-2" th:text="${recipe.name}" >_recipeName_</a>
                                <!--<a th:href="@{'/chef_admin/editRecipePage/' + ${recipe.id}}" class="btn course-btn btn-block mt-2" th:text="#{edit}">_edit_</a>
                                <a th:href="@{'/chef_admin/removeRecipe/' + ${recipe.id}}" class="btn btn-danger btn-block mt-2" id="removeRecipeButton" th:text="#{remove}">_remove_</a>-->
                                <div class="btn-group btn-block mt-2"> <!--btn-block mt-2 btn-group-custom-->
                                    <a th:href="@{'/chef_admin/editRecipePage/' + ${recipe.id}}" class="btn btn-primary btn-sm btn-spacing" th:text="#{edit}">_edit_</a>
                                    <a th:href="@{'/chef_admin/removeRecipe/' + ${recipe.id}}" class="btn btn-danger btn-sm" id="removeRecipeButton" th:text="#{remove}">_remove_</a>
                                </div>
                            </div>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>

        <!--
        <h1 th:text=" 'Ricette di ' + ${userDetails.username}">_usernameChef_</h1>
        <div class="recipes_list">
            <ul>
                <li th:each="recipe : ${recipes}">
                    <a th:href="@{'/all/recipePage/' + ${recipe.id}}" th:text="${recipe.name}">_nomeRicetta_</a>
                    <span>(<a th:href="@{'/chef_admin/editRecipePage/' + ${recipe.id}}" th:text="#{edit}"></a>)</span>
                    <a th:href="@{'/chef_admin/removeRecipe/' + ${recipe.id}}" class="removeButton" id="removeRecipeButton"><button type="submit" >Remove</button></a>
                </li>
            </ul>
        </div>
        <div><a href="/chef_admin/addRecipePage">addRecipe</a></div>
        -->
    </body>
</html>